/*Para deixar de escrever o mesmo estilo várias vezes, criaremos um novo
componente/bloco chamado container que terá todos os estilos que criam 
esse espaçamento. Esse estilo será aplicado tanto no cabecalho quanto no 
rodapé e será escrito apenas uma vez no novo componente container. */

.container {
	padding-left: 5%;
	padding-right: 5%;
}

@media (min-width: 1066px) {
	.container {
		padding-left: calc((100% - 960px) / 2);
		padding-right: calc((100% - 960px) / 2);
	}
}

@media (min-width: 1440px) {
	.container {
		padding-left: calc((100% - 1200px) / 2);
		padding-right: calc((100% - 1200px) / 2);
	}
}